<!-- <navbar></navbar> -->
<br>



<!-- <div class="container">
        <div class="row">
                <div *ngFor="let i of arr" class="col-sm mb-5">      
                        <card></card>
                        </div>   
        </div>
             
</div> -->

<br>
<br>

<!-- <assignment-comp></assignment-comp> -->

 



<p>this is my first page {{title}}</p>
<emp></emp>
<dept></dept>


<h1>Employee Details</h1>
<input type="text" [(ngModel)]="userInput">
<simple [title]="userInput"></simple>


<br>
<br>
<br>
<br>
<br>